/* *{
    outline: 1px solid red;
} */
body{
    color: #242424;
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #FFFFFFA3;
    border-radius: 30px;
}
header ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
li{
    list-style: none;
}
header a{
    color: black;
    text-decoration: none;
}
.buttn-group{
    display: none;
}

.buttn{
    display: flex;
    gap: 20px;
}
.btn1{
    border: none;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}
.btn2{
    border-radius: 30px;
    width: 167px;
    height: 49px;
    border: none;
    color: white;
    background-color: #E73C7E;
    border-bottom: 4px solid black;
    cursor: pointer;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-top: 5px;
    margin-right: 20px;
    background-color: #F3F3F3;
    border-radius: 50%;
    padding: 10px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: #242424;
    transition: 0.3s ease;
}

.first{
    background-color: #FBD7E4;
    padding: 20px 100px 0px 100px;
    margin: 0px;
}
.words{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.left1{
    margin-top: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: 0rem;
}
.left1{
    width: 567px;
}
.left1 h6{
    color: #562442;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -2rem;
}
.left1 h1{
    color: #562442;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: -0.5rem;
}
.left1 p{
    font-size: 18px;
    font-weight: 400;
}
.balloon{
    float: right;
}
.btn3{
    /* width: 190px; */
    height: 49px;
    border: none;
    border-bottom: 4px solid #E73C7E;
    border-radius: 30px;
    padding: 14px 40px;
    color: white;
    background-color: #242424;
    cursor: pointer;
}
.btn4{
    /* width: 190px; */
    height: 49px;
    border: none;
    border-bottom: 4px solid #242424;
    border-radius: 30px;
    padding: 14px 40px;
    color: white;
    background-color: #E73C7E;
    cursor: pointer;
}
.alone img{
    width: 290px;
    height: 255px;
}

.second{
    background-color: #FBEECE;
    margin: 80px 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.gift{
    background-color: #FFFFFF;
    width: 549px;
    height: 656px;
    border-radius: 15px;
}
.second img{
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 100px 70px;
}
.second h6{
    color: #562442;
    font-size: 18px;
    margin-bottom: -1rem;
}
.second h1{
    color: #562442;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0rem;
}
.each{
    display: flex;
    gap: 30px;
}
.number{
    width: 40px;    
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}
.each h5{
    margin-bottom: -1rem;
    font-size: 23px;
    font-weight: 600;
}
.each p{
    font-size: 18px;
    font-weight: 400;
}
.text{
    margin-top: -0.5rem;
}

.third{
    background-color: #F9C3D6;
    padding: 50px 100px;
    text-align: center;
}
.third h1{
    font-size: 35px;
    color: #562442;
    font-weight: 600;
}
.third h6{
    font-size: 18px;
    color: #562442;
    font-weight: 400;
    margin-bottom: -1rem;
}
.others{
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.oneone{
    background-color: #FFFFFF;
    padding: 20px 20px 0px 20px;
    margin: 40px 0px;
    border-radius: 10px;
    width: 340px;
    height: 549px;
}
.onetwo{
    background-color: #FFFFFF;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    width: 340px;
    height: 311px;
}
.oneone p{
    margin-top: 0rem;
}
.onetwo p{
    margin-top: 0rem;
}
.round{
    width: 40px;    
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-top: 0rem;
}
.side h5{
    font-size: 23px;
    margin-bottom: -1rem;
    margin-top: 0rem;
}
.side h4{
    font-size: 14px;
    font-weight: 400;
    color: #562442;
}
.side{
    display: flex;
    gap: 30px;
}
.flower{
    width: 230px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
}
.television{
    width: 230px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
}
.door{
    width: 196px;
    height: 185px;
    float: right;
}
.giftcard{
    width: 196px;
    height: 168px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eight{
    background-color: #FAF1E5;
}
.zigzag{
    background-image: url("../assets/images/Group_15.png");
    height: 3vh;
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 200px; */
    /* margin: 0px 44px; */
    padding: 50px 0px 40px 90px;
}
.footer i{
    padding-right: 5px;
}
.footer h5{
    font-size: 18px;
    font-weight: 700;
}
.social{
    width: 150px;
}
.links{
    display: flex;
    gap: 40px;
}
.links a{
    text-decoration: none;
    color: #242424;
}
.newsletter{
    padding: 20px;
    border-radius: 10px;
    width: 309px;
    height: 223px;
    background-color: white;
}
.newsletter input{
    background-color: #F3F3F3;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.btn-connect{
    width: 167px;
    height: 49px;
    border: none;
    border-bottom: 4px solid #242424;
    border-radius: 30px;
    color: white;
    background-color: #E73C7E;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}
.copyright{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #242424;
}

@media only screen and (max-width: 320px){
    .logoimg{
        padding: 0px;
        margin: 0px;
    }
    header{
        width: 90%;
        padding: 15px;
        margin: 0px;
        background-color: #FFFFFFA3;
        border-radius: 30px;
    }
    .nav-links {
        display: none;
        background: white;
        position: fixed;
        top: 4rem;
        right: 0;
        width: 50%;
        height: 10vh;
        line-height: 1.5;
        padding: 10px;
    }

    .buttn-group{
        display: block;
        background-color: white;
        padding: 10px;
        margin-left: -0.6rem;
    }
    .buttn-group .btn1{
        text-align: left;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .hamburger{
        display: flex;
        margin-right: 1rem;
    }
    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    
    .buttn{
        display: none;
    }
    .first{
        padding: 25px 25px 0px 25px;
    }
    .words {
        flex-direction: column; 
    }

    .left1 { 
        order: 2;
        width: 100%; 
        margin-top: 0px;
    } 
    .left1 h1{
        font-size: 34px;
    }
    .left1 h6{
        font-size: 14px;
    }
    .left1 p{
        font-size: 14px;
    }
    .right1 { 
        order: 1; 
    } 
    .balloon{
        width: 180px;
        height: 180px;
    }
    .alone img{
        width: 160px;
        height: 150px;
    }
    .second {
        flex-direction: column; 
        margin: 25px;
        padding: 20px 15px;
    }
    .gift { 
        order: 2; 
        width: 100%;
        height: auto;
    } 
    .steps { 
        order: 1; 
    }
    .second h1{
        font-size: 22px;
    } 
    .second h6{
        font-size: 14px;
    }
    .each h5{
        font-size: 18px;
    }
    .each p{
        font-size: 14px;
    }
    .number{
        font-size: 18px;
        height: 32px;
        width: 40px;
        text-align: center;
    }
    .second img{
        width: 100%;
        margin: 0px;
    }

    .others{
        flex-direction: column;
        gap: 0px;
    }
    .third{
        padding: 20px 25px;
    }
    .oneone{
        height: auto;
        width: auto;
    }
    .onetwo{
        width: auto;
    }
    .television, .flower{
        margin-top: 0px;
        margin-bottom: 4rem;
    }
    .eight{
        background-color: #FAF1E5;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-left: -2rem;
        height: 56rem;
    }
    .forget{
        height: 12rem;
        margin-left: -2rem;
    }
    .boxi{
        position: relative;
        top: -13rem;
        left: 11rem;
        width: 5rem;
    }
    .links{
        display: flex;
        flex-direction: column;
        gap: 0px;
        position: relative;
        top: 18rem;
        margin-left: -4rem;
        margin-top: -8rem;
    }
    .newsletter{
        position: relative;
        top: -30rem;
        width: 14.5rem;
        margin-left: -2rem;

    }
    .copyright{
        font-size: 13px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 374px){
    .logoimg{
        padding: 0px;
        margin: 0px;
    }
    header{
        width: 90%;
        padding: 15px;
        margin: 0px;
        background-color: #FFFFFFA3;
        border-radius: 30px;
    }
    .nav-links {
        display: none;
        background: white;
        position: fixed;
        top: 4rem;
        right: 0;
        width: 50%;
        height: 10vh;
        line-height: 1.5;
        padding: 10px;
    }

    .buttn-group{
        display: block;
        background-color: white;
        padding: 10px;
        margin-left: -0.6rem;
    }
    .buttn-group .btn1{
        text-align: left;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .hamburger{
        display: flex;
        margin-right: 1rem;
    }
    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    
    .buttn{
        display: none;
    }
    .first{
        padding: 25px 25px 0px 25px;
    }
    .words {
        flex-direction: column; 
    }

    .left1 { 
        order: 2;
        width: 100%; 
        margin-top: 0px;
    } 
    .left1 h1{
        font-size: 34px;
    }
    .left1 h6{
        font-size: 14px;
    }
    .left1 p{
        font-size: 14px;
    }
    .right1 { 
        order: 1; 
    } 
    .balloon{
        width: 180px;
        height: 180px;
    }
    .alone img{
        width: 160px;
        height: 150px;
    }
    .second {
        flex-direction: column; 
        margin: 25px;
        padding: 20px 15px;
    }
    .gift { 
        order: 2; 
        width: 100%;
        height: auto;
    } 
    .steps { 
        order: 1; 
    }
    .second h1{
        font-size: 22px;
    } 
    .second h6{
        font-size: 14px;
    }
    .each h5{
        font-size: 18px;
    }
    .each p{
        font-size: 14px;
    }
    .number{
        font-size: 18px;
        height: 32px;
        width: 40px;
        text-align: center;
    }
    .second img{
        width: 100%;
        margin: 0px;
    }

    .others{
        flex-direction: column;
        gap: 0px;
    }
    .third{
        padding: 20px 25px;
    }
    .oneone{
        height: auto;
        width: auto;
    }
    .onetwo{
        width: auto;
    }
    .television, .flower{
        margin-top: 0px;
        margin-bottom: 4rem;
    }
    .eight{
        background-color: #FAF1E5;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-left: -2rem;
        height: 56rem;
    }
    .forget{
        height: 12rem;
        margin-left: -2rem;
    }
    .boxi{
        position: relative;
        top: -13rem;
        left: 12rem;
        width: 5rem;
    }
    .links{
        display: flex;
        flex-direction: column;
        gap: 0px;
        position: relative;
        top: 18rem;
        margin-left: -4rem;
        margin-top: -8rem;
    }
    .newsletter{
        position: relative;
        top: -30rem;
        width: 15.5rem;
        margin-left: -2rem;

    }
    .copyright{
        font-size: 13px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px){
    .logoimg{
        padding: 0px;
        margin: 0px;
    }
    header{
        width: 90%;
        padding: 15px;
        margin: 0px;
        background-color: #FFFFFFA3;
        border-radius: 30px;
    }
    .nav-links {
        display: none;
        background: white;
        position: fixed;
        top: 4rem;
        right: 0;
        width: 50%;
        height: 10vh;
        line-height: 1.5;
        padding: 10px;
    }

    .buttn-group{
        display: block;
        background-color: white;
        padding: 10px;
        margin-left: -0.6rem;
    }
    .buttn-group .btn1{
        text-align: left;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .hamburger{
        display: flex;
        margin-right: 1rem;
    }
    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    
    .buttn{
        display: none;
    }
    .first{
        padding: 25px 25px 0px 25px;
    }
    .words {
        flex-direction: column; 
    }

    .left1 { 
        order: 2;
        width: 100%; 
        margin-top: 0px;
    } 
    .left1 h1{
        font-size: 34px;
    }
    .left1 h6{
        font-size: 14px;
    }
    .left1 p{
        font-size: 14px;
    }
    .right1 { 
        order: 1; 
    } 
    .balloon{
        width: 180px;
        height: 180px;
    }
    .alone img{
        width: 160px;
        height: 150px;
    }
    .second {
        flex-direction: column; 
        margin: 25px;
        padding: 20px 15px;
    }
    .gift { 
        order: 2; 
        width: 100%;
        height: auto;
    } 
    .steps { 
        order: 1; 
    }
    .second h1{
        font-size: 22px;
    } 
    .second h6{
        font-size: 14px;
    }
    .each h5{
        font-size: 18px;
    }
    .each p{
        font-size: 14px;
    }
    .number{
        font-size: 18px;
        height: 32px;
        width: 40px;
        text-align: center;
    }
    .second img{
        width: 100%;
        margin: 0px;
    }

    .others{
        flex-direction: column;
        gap: 0px;
    }
    .third{
        padding: 20px 25px;
    }
    .oneone{
        height: auto;
        width: auto;
    }
    .onetwo{
        width: auto;
    }
    .television, .flower{
        margin-top: 0px;
        margin-bottom: 4rem;
    }
    .eight{
        background-color: #FAF1E5;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-left: -2rem;
        height: 56rem;
    }
    .forget{
        height: 12rem;
        margin-left: -2rem;
    }
    .boxi{
        position: relative;
        top: -13rem;
        left: 15rem;
        width: 5rem;
    }
    .links{
        display: flex;
        flex-direction: column;
        gap: 0px;
        position: relative;
        top: 18rem;
        margin-left: -4rem;
        margin-top: -8rem;
    }
    .newsletter{
        position: relative;
        top: -30rem;
        width: 18rem;
        margin-left: -2rem;

    }
    .copyright{
        font-size: 13px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    .logoimg{
        padding: 0px;
        margin: 0px;
    }
    header{
        width: 90%;
        padding: 15px;
        margin: 0px;
        background-color: #FFFFFFA3;
        border-radius: 30px;
    }
    .nav-links {
        display: none;
        background: white;
        position: fixed;
        top: 4rem;
        right: 0;
        width: 50%;
        height: 10vh;
        line-height: 1.5;
        padding: 10px;
    }

    /* .nav-links.active {
        right: 0;
    } */

    .buttn-group{
        display: block;
        background-color: white;
        padding: 10px;
        margin-left: -0.6rem;
    }
    .buttn-group .btn1{
        text-align: left;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .hamburger{
        display: flex;
        margin-right: 1rem;
    }
    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    
    .buttn{
        display: none;
    }
    .first{
        padding: 25px 25px 0px 25px;
    }
    .words {
        flex-direction: column; 
    }

    .left1 { 
        order: 2;
        width: 100%; 
        margin-top: 0px;
    } 
    .left1 h1{
        font-size: 34px;
    }
    .left1 h6{
        font-size: 14px;
    }
    .left1 p{
        font-size: 14px;
    }
    .right1 { 
        order: 1; 
    } 
    .balloon{
        width: 180px;
        height: 180px;
    }
    .alone img{
        width: 160px;
        height: 150px;
    }
    .second {
        flex-direction: column; 
        margin: 25px;
        padding: 20px 15px;
    }
    .gift { 
        order: 2; 
        width: 100%;
        height: auto;
    } 
    .steps { 
        order: 1; 
    }
    .second h1{
        font-size: 22px;
    } 
    .second h6{
        font-size: 14px;
    }
    .each h5{
        font-size: 18px;
    }
    .each p{
        font-size: 14px;
    }
    .number{
        font-size: 18px;
        height: 32px;
        width: 40px;
        text-align: center;
    }
    .second img{
        width: 100%;
        margin: 0px;
    }

    .others{
        flex-direction: column;
        gap: 0px;
    }
    .third{
        padding: 20px 25px;
    }
    .oneone{
        height: auto;
        width: auto;
    }
    .onetwo{
        width: auto;
    }
    .television, .flower{
        margin-top: 0px;
        margin-bottom: 4rem;
    }
    .eight{
        background-color: #FAF1E5;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-left: -2rem;
        height: 56rem;
    }
    .forget{
        height: 12rem;
        margin-left: -2rem;
    }
    .boxi{
        position: relative;
        top: -13rem;
        left: 15rem;
        width: 5rem;
    }
    .links{
        display: flex;
        flex-direction: column;
        gap: 0px;
        position: relative;
        top: 18rem;
        margin-left: -4rem;
        margin-top: -8rem;
    }
    .newsletter{
        position: relative;
        top: -30rem;
        width: 18rem;
        margin-left: -2rem;

    }
    .copyright{
        font-size: 13px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .first{
        padding: 40px;
    }
    .gift{
        width: auto;
    }
    .second img{
        /* width: 100%; */
        height: auto;
        margin: 0px;
        margin-top: 50px;
    }
    .second{
        margin: 30px;
    }
    .third{
        padding: 30px;
    }
    .others{
        flex-direction: column;
        gap: 0px;
    }
    .third{
        padding: 20px 55px;
    }
    .oneone{
        height: auto;
        width: auto;
    }
    .onetwo{
        width: auto;
    }
    .television, .flower{
        margin-top: 0px;
        margin-bottom: 4rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px){
    header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #FFFFFFA3;
    border-radius: 30px;
}
header ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
li{
    list-style: none;
}
header a{
    color: black;
    text-decoration: none;
}
.buttn-group{
    display: none;
}

.buttn{
    display: flex;
    gap: 20px;
}
.btn1{
    border: none;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}
.btn2{
    border-radius: 30px;
    width: 167px;
    height: 49px;
    border: none;
    color: white;
    background-color: #E73C7E;
    border-bottom: 4px solid black;
    cursor: pointer;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-top: 35px;
    margin-right: 20px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: #242424;
    transition: 0.3s ease;
}

.first{
    background-color: #FBD7E4;
    padding: 20px 100px 0px 100px;
    margin: 0px;
}
.words{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.left1{
    margin-top: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: 0rem;
}
.left1{
    width: 567px;
}
.left1 h6{
    color: #562442;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -2rem;
}
.left1 h1{
    color: #562442;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: -0.5rem;
}
.left1 p{
    font-size: 18px;
    font-weight: 400;
}
.balloon{
    float: right;
}
.btn3{
    /* width: 190px; */
    height: 49px;
    border: none;
    border-bottom: 4px solid #E73C7E;
    border-radius: 30px;
    padding: 14px 40px;
    color: white;
    background-color: #242424;
    cursor: pointer;
}
.btn4{
    /* width: 190px; */
    height: 49px;
    border: none;
    border-bottom: 4px solid #242424;
    border-radius: 30px;
    padding: 14px 40px;
    color: white;
    background-color: #E73C7E;
    cursor: pointer;
}
.alone img{
    width: 290px;
    height: 255px;
}

.second{
    background-color: #FBEECE;
    margin: 80px 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-radius: 20px;
}
.gift{
    background-color: #FFFFFF;
    width: 549px;
    height: 656px;
    border-radius: 15px;
}
.second img{
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 100px 70px;
}
.second h6{
    color: #562442;
    font-size: 18px;
    margin-bottom: -1rem;
}
.second h1{
    color: #562442;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0rem;
}
.each{
    display: flex;
    gap: 30px;
}
.number{
    width: 40px;    
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}
.each h5{
    margin-bottom: -1rem;
    font-size: 23px;
    font-weight: 600;
}
.each p{
    font-size: 18px;
    font-weight: 400;
}
.text{
    margin-top: -0.5rem;
}

.third{
    background-color: #F9C3D6;
    padding: 50px 100px;
    text-align: center;
}
.third h1{
    font-size: 35px;
    color: #562442;
    font-weight: 600;
}
.third h6{
    font-size: 18px;
    color: #562442;
    font-weight: 400;
    margin-bottom: -1rem;
}
.others{
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.oneone{
    background-color: #FFFFFF;
    padding: 20px 20px 0px 20px;
    margin: 40px 0px;
    border-radius: 10px;
    width: 340px;
    height: 549px;
}
.onetwo{
    background-color: #FFFFFF;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    width: 340px;
    height: 311px;
}
.oneone p{
    margin-top: 0rem;
}
.onetwo p{
    margin-top: 0rem;
}
.round{
    width: 40px;    
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-top: 0rem;
}
.side h5{
    font-size: 23px;
    margin-bottom: -1rem;
    margin-top: 0rem;
}
.side h4{
    font-size: 14px;
    font-weight: 400;
    color: #562442;
}
.side{
    display: flex;
    gap: 30px;
}
.flower{
    width: 230px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
}
.television{
    width: 230px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
}
.door{
    width: 196px;
    height: 185px;
    float: right;
}
.giftcard{
    width: 196px;
    height: 168px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eight{
    background-color: #FAF1E5;
}
.zigzag{
    background-image: url("../assets/images/Group_15.png");
    height: 3vh;
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 200px; */
    /* margin: 0px 44px; */
    padding: 50px 0px 40px 90px;
}
.footer i{
    padding-right: 5px;
}
.footer h5{
    font-size: 18px;
    font-weight: 700;
}
.social{
    width: 150px;
}
.links{
    display: flex;
    gap: 40px;
}
.newsletter{
    padding: 20px;
    border-radius: 10px;
    width: 309px;
    height: 223px;
    background-color: white;
}
.newsletter input{
    background-color: #F3F3F3;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.btn-connect{
    width: 167px;
    height: 49px;
    border: none;
    border-bottom: 4px solid #242424;
    border-radius: 30px;
    color: white;
    background-color: #E73C7E;
    margin: auto;
    text-align: center;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}
.copyright{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #242424;
}
}